:root {
  --primary-with: #ffff;
  --blue-light: #00abf0;
  --primary-black: black;
  --blue-dark: #081b29;
}

/*---------- MENU LINK -----------------*/

nav a.nav-link {
  letter-spacing: 0.035rem;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  margin-left: 10px;
}

nav .me-auto {
  margin-left: 45%;
}
.letras {
  color: var(--primary-black);
  font-size: 17px;
  font-weight: 400;
  margin-left: 10px;
  transition: 0.3s;
}

.letras :hover {
  color: var(--blue-light);
}
