/*--------------Pagina contatos--------------*/

.contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10%;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.borda {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 45px;

  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.borda::before {
  content: " ";
  position: absolute;
  right: 0;
  width: 110%;
  height: 120%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
  z-index: 4;
}

section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  margin-bottom: 4px;
}

form button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

form button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

form button:hover::before {
  width: 100%;
}

form button:hover {
  color: #00abf0;
}

.marg {
  margin-top: 20px;
  padding: 10px;
}
