.home {
  height: 100vh;
  padding: 70px 10%;
}

.home-content {
  max-width: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
